/* Общие стили */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, "Helvetica", "Nimbus Sans L", sans-serif;
}
.container {
    width: 1000px;
    margin: 0 auto;
}
.clearfix:after {
	content:'';
	display: table;
	width: 100%;
	clear: both;
}
/* ----Стили хедера---- */
.main_header {
    background-color: #e8ebf1;
    border-bottom: 1px solid #6ec2ca;   
}
/*Стили логотипа */
.logo {
    float: left;
    padding: 30px 0;
}    
.logotype {
    font-family: "Lato";
    color: #2aacc8;
    font-size: 50px;
    font-weight: 400;
    text-decoration: none;
	line-height: 50px;    
}
.t1 {
    color: #000000;
    font-weight: 900;
}
/* Стили Меню */
.main_navigation {    
    padding-top: 40px;
    margin-right: 18px;
    float: right;
}
.navigation_list {    
    margin: 0;
    padding: 0;
    list-style-type: none;    
}
.navigation_item {       
    padding-bottom: 40px;
    margin-left: 20px;    
    border-top: 5px solid transparent; 
    display: inline-block;
    vertical-align: top;   
}
.navigation_item:nth-child(3) .menu::after,
.navigation_item:nth-child(4) .menu::after {
    content: url(../img/down_arrow.png);
    padding-left: 5px;    
}
.menu {
    display: block;
    color: #000000;
    padding: 10px;
    text-decoration: none;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;  
    border-right:  1px solid #e8ebf1; 
    border-left:  1px solid #e8ebf1;
}
/* Стили выпадающего списка меню */
.dropdown {
    position: absolute;
    list-style-type: none;
    display: none;
    padding: 5px;
    padding-bottom: 0;
    background-color: #fff;
    border-right:  1px solid #e8ebf1; 
    border-left:  1px solid #e8ebf1; 
    border-bottom: 5px solid #2aacc8;       
}
.dropdown_item {
   padding: 0 15px; 
   border-bottom: 1px solid #e8ebf1;
}
.dropdown_item_url {
    color: #000000;
    font-size: 13px;
    font-weight: 400;
    line-height: 35px;
    text-decoration: none;    
}
/* Состояние меню при наведении */
.navigation_item:hover {
    border-top-color: #2aacc8;    
}
.navigation_item:hover .dropdown {
    display: block;    
}
.navigation_item:hover .menu {
    background-color: #fff;        
}
.navigation_item:hover .menu,
.dropdown_item:hover .dropdown_item_url {
    color: #2aacc8;    
}
/* ----Стили основного контента---- */
.main_content {
    margin: 0;
}
.main_top {
    background-color: #81e4ed;
}
.main_img {
    background-image: url(../img/layers.jpg);     
    background-repeat: no-repeat;
    background-position: 0 20px;
    background-size: cover;
}
.main_heading {
    margin: 0;
    font-size: 50px;
    font-family: "Lato";
    color: rgb(255, 255, 255);
    font-weight: bold;    
    max-width: 300px;
    padding: 100px 0 112px 61px;
}
.slider {
    text-align: center;
    line-height: 40px;
}
.slide-btn {
    display: inline-block;
    vertical-align: middle;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #71a3a7;   
    margin: 0 0.5%;
}
.slide-btn:nth-child(3) {
    background-color: #fff;
}
.main_center {
    background-color: #e8ebf1;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    margin-top: 15px;
    padding: 40px 0 60px 0;
}
.content {
    width: 220px;
    display: inline-block;
    vertical-align: top;
    margin-right: 30px;
}
.icon {
    width: 40px;
    height: 40px;
    background-color: #2aacc8;
    border-radius: 50%;
    display: inline-block;
    vertical-align: top;
    background-repeat: no-repeat;
    background-position: center;
}
.content:first-child .icon {
    background-image: url(../img/pencil.png);
}
.content:nth-child(2) .icon {
    background-image: url(../img/fullscreen.png);
}
.content:nth-child(3) .icon {
    background-image: url(../img/view_list.png);
}
.content:last-child .icon {
    background-image: url(../img/plane.png);
}
.caption {
    padding-left: 20px;
    display: inline-block;
    line-height: 40px;
    vertical-align: top;
    font-size: 15px;
    font-weight: 700;    
    text-transform: uppercase;     
}
.content_text {    
    font-size: 13px;        
    color: #363636;
    line-height: 1.538;       
}
.content_text.url {
    text-decoration: none;
    color: #2aacc8;    
}
.content_text.url::before {
    content: url(../img/arrow.png);
    padding-right: 5px;
}
.works {
    border-bottom: 1px solid #dfe1e5;
}
.cursor {
    float: left;
    line-height: 58px;
}
.arrows {
    float: right;
    margin-top: 19px;    
}
.arrow {
    display: inline-block;
    vertical-align: top;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #81e4ed;    
    background-repeat: no-repeat;
    background-position: center;
}
.arrow.left {
    background-image: url(../img/big_left_arow.png);
    margin-right: 10px;
}
.arrow.right {
    background-image: url(../img/big_right_arow.png);
}
.cursor,
.reviews_end_clients .caption {
    padding-left: 0;
}
.cursor::before {
    content: url(../img/cursor.png);
    padding-right: 25px;
}
.latest_works {
    margin-top: 20px;
    padding-bottom: 40px;
    border-bottom: 1px solid #dfe1e5; 
}
.latest_works_img {
    display: inline-block;
    vertical-align: top;
    margin-right: 40px;
    position: relative;
}
.latest_works_img:last-child {
    margin-right: 0;
}
.works_img_close {
    width:220px;
    height: 81px;
    background-color: #2aacc8;    
    position: absolute;    
    display: none;
    bottom: 1px; 
    text-align: center;   
}
.pattern {    
    line-height: 80px;    
}
.pattern::after {
    content: url(../img/link.png);
    padding-left: 15px;
}
.pattern::before {
    content: url(../img/eye.png);
    padding-right: 15px;
}
.latest_works_img:hover .works_img_close {
    display: block;
}
.reviews_end_clients {
    margin-top: 20px;
    margin-bottom: 40px;
}
.reviews,
.clients {
    display: inline-block;
    vertical-align: top;
    width: 50%;
}
.reviews_end_clients .reviews .caption::before {
    content: url(../img/comments.png);
    padding-right: 25px;
}
.reviews_end_clients .clients .caption::before {
    content: url(../img/clients.png);
    padding-right: 25px;
}
.text {
    color: #363636;    
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}
.reviews_author {
    font-weight: 700;
}
.clients_item {
    display: inline-block;
    vertical-align: top;
    width: 164px;
    height: 99px;
    border: 1px solid #dfe1e5;
    box-shadow: inset 0px 0px 50px 10px rgba(0,0,0,0.1);
    background-repeat: no-repeat;
    background-position: center;
}
.clients_item:first-child {
    background-image: url(../img/logo_cox.png);
}
.clients_item:nth-child(2) {
    background-image: url(../img/logo_cnn.png);
}
.clients_item:nth-child(3) {
    background-image: url(../img/logo_apartment.png);
}
.clients_item:nth-child(4) {
    background-image: url(../img/logo_johndeere.png);
}
.clients_item:nth-child(5) {
    background-image: url(../img/logo_banana.png);
}
.clients_item:nth-child(6) {
    background-image: url(../img/logo_fujifilm.png);
}
.download {
    background-color: #e8fcfe;
    border: 1px solid #81e4ed;
    color: #363636;    
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding: 35px 30px;
    margin-bottom: 40px;
}
.download_info {
    float: left;
    width: 610px;
    color: #363636;    
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.button {
    float: right;    
    height: 40px;
    display: block;
    box-shadow: inset 0px 0px 20px 10px rgba(0,0,0,0.1);
    border: 1px solid #2aacc8;
    border-radius: 10px;
    background-color: #78dee9;    
    background-image: linear-gradient(to top, #2aacc8 0%, #60cede 15%, #72dae6 50%, #81e4ed 100%);
    background-repeat: no-repeat;
    background-position: 10% center;
    color: #0d0707;
    font-size: 18px;
    text-align: right;
    line-height: 40px;
    font-weight: 700;    
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 20px;
}
.button_bg::before {
    content: url(../img/download.png);
    padding-right: 22px;
}
/* Стили футера */
.main_footer {
    background-color: #e8ebf1;
    border-top: 1px solid #d9d9d9;
    padding-top: 40px;
}
.footer_nav,
.list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.footer_nav {
    margin-bottom: 40px;
}
.footer_list .caption {
    padding-left: 0;
}
.footer_list {    
    display: inline-block;
    vertical-align: top;
    margin-right: 50px;  
}
.footer_list:first-child {
    width: 240px;
}
.footer_list:nth-child(4) {
    width: 137px;
}
.footer_list:last-child {
    width: 190px;
    margin-right: 0;
}
.footer_list:first-child .text {
    line-height: 20px;
}
.footer_list:nth-child(4) .url {
    line-height: 20px;
	margin-bottom: 15px;
}
.url {
    color: #363636;    
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    text-decoration: none;
}
.copyright_end_logo {
	padding-bottom: 40px;
}
.copyright {
    float: left;
    width: 640px;
}
.footer_logo {
    float: right;
}
.list_img {
    display: inline-block;
    vertical-align: top;
    padding: 5px;
}